<div class="footer <%if(type=='home'){%> home <%}%>">
  <a href="<%=relative_path%>hot.html">命令列表</a>
  <div>
    共搜集到
    <span id="commands_info">
      <%=describe.command_length?describe.command_length:''%>
    </span> 个Linux命令
  </div>
</div>