name: Build and Deploy

on:
  push:
    branches:
      - master

jobs:
  build-deploy:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@v4
      
      - uses: actions/setup-node@v4
        with:
          node-version: 20

      - name: Generate Contributors Images
        uses: jaywcjlove/github-action-contributors@main
        id: contributors
        with:
          filter-author: (renovate\[bot\]|renovate-bot|@github-actions-bot|dependabot\[bot\])
          avatarSize: 42

      - name: Modify README.md
        uses: jaywcjlove/github-action-modify-file-content@main
        with:
          path: README.md
          trim_whitespace: false
          openDelimiter: '<!--AUTO_GENERATED_PLEASE_DONT_DELETE_IT-->'
          closeDelimiter: '<!--AUTO_GENERATED_PLEASE_DONT_DELETE_IT-END-->'
          body: |
            ${{steps.contributors.outputs.htmlList}}

      - name: Modify contributors.ejs
        uses: jaywcjlove/github-action-modify-file-content@main
        with:
          path: template/contributors.ejs
          trim_whitespace: false
          openDelimiter: '<!--AUTO_GENERATED_PLEASE_DONT_DELETE_IT-->'
          closeDelimiter: '<!--AUTO_GENERATED_PLEASE_DONT_DELETE_IT-END-->'
          body: |
            ${{steps.contributors.outputs.htmlList}}

      - name: Install dependencies
        run: npm install

      - name: Build documentation
        run: npm run dash

      - name: Copy contributors
        run: cp CONTRIBUTORS.svg .deploy

      - name: Create CNAME for custom domain
        run: echo "command.yuanweize.win" > .deploy/CNAME

      - name: Deploy to GitHub Pages
        uses: peaceiris/actions-gh-pages@v4
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./.deploy
          user_name: github-actions[bot]
          user_email: github-actions[bot]@users.noreply.github.com
